body {
    background-color: rgb(187, 179, 179);
}

h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(211, 189, 189);
    text-indent: 30px;
}

h2 {
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.874);
}

p {
    color: rgb(0, 0, 0);
    text-indent: 30px;
    font-size: 18px;
}

i {
    color: rgba(0, 0, 0, 0.829);
    text-align: center;
}

.ES1 {
    width: 1360px;
    height: 80px;
}

header {
    width: 100%;
    top: 50px;
    left: 0;
    height: 60px;
    background-color: rgb(0, 0, 0);
}

nav li {
    display: inline;
    margin-left: 200px;
    color: rgb(202, 200, 200);
}

img {
    border: 2px solid rgb(255, 255, 255);
    padding: 2px;
    position: absolute;
    top: 100px;
    left: 10px;
}